@import "~bootstrap/scss/bootstrap";

$bg-grey: #f1f5f8;

.bg-grey {
  background: $bg-grey;
}

form {
  background: #fff;
}

.user {
  &__image {
    width: 100px;
    border-radius: 50%;
  }
  &__name {
    font-size: 1.2rem;
  }
}